body {
  background-color: #f8f9fa !important;
  font-family: Tahoma; }

#home__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #home__header #home__header__logo img {
    width: 297px;
    height: 128px;
    justify-content: center;
    margin: 0px auto; }

h1 {
  font-family: Tahoma;
  size: 2.4em;
  margin: 0px auto; }

h2 {
  font-family: Tahoma;
  size: 1.4em; }

h3 {
  font-family: Tahoma; }

#home__header__searchbar__block {
  padding-top: 58px; }
  #home__header__searchbar__block form {
    display: flex; }
    #home__header__searchbar__block form #home__header__searchbar {
      width: 250px;
      height: 36px;
      padding: 5px; }
    #home__header__searchbar__block form .header__submit__button {
      width: 80px;
      font-family: Tahoma;
      font-weight: bolder;
      border-radius: 3px;
      height: 36px;
      background: #4ca5bc;
      color: white;
      border: 0px; }
    #home__header__searchbar__block form .header__submit__button:hover {
      background: #a56eb9; }

nav {
  margin-top: 50px;
  border: 2px solid black;
  background-color: #111111; }
  nav .navbar__toggler__button {
    background: #4ca5bc;
    color: white; }
  nav a {
    margin: 5px 1px 1px 20px;
    font-size: 1.2em;
    font-family: Tahoma;
    font-weight: bolder;
    color: white; }

#home__carousel {
  display: block;
  border: 1px solid black;
  margin-top: 30px;
  text-align: center; }
  #home__carousel li {
    height: 7px;
    width: 34px;
    background-color: #117a8b; }

.myControls {
  background: #e9ecef !important;
  opacity: 1 !important;
  width: 3% !important; }

/* Make the image fully responsive*/
.carousel-inner img {
  width: 99%;
  height: 500px; }

#home__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding-top: 35px; }

.home__photos__photo {
  width: 450px;
  height: 300px; }

.footer {
  color: #999;
  line-height: 25px;
  padding-top: 80px; }
  .footer h2,
  .footer h3 {
    color: #fff; }
  .footer h2 {
    font-size: 18px; }
  .footer #text {
    width: auto; }
  .footer .footer__top {
    background: #111;
    padding: 80px 0px; }
    .footer .footer__top .footer__top__container__segment__1 h3 {
      color: #fff;
      margin: 10px 0px; }
    .footer .footer__top .footer__top__container__segment__2 h2 {
      text-transform: uppercase;
      color: #fff; }
    .footer .footer__top .footer__top__container__segment__2 h2:before {
      content: '|';
      color: #c65039;
      padding-right: 10px; }
    .footer .footer__top .footer__top__container__segment__2 ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer .footer__top .footer__top__container__segment__2 ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 8px; }
        .footer .footer__top .footer__top__container__segment__2 ul li a {
          color: #999;
          text-decoration: none; }
    .footer .footer__top .footer__top__container__segment__3 h2 {
      color: #fff;
      text-transform: uppercase; }
    .footer .footer__top .footer__top__container__segment__3 h2:before {
      content: '|';
      color: #c65039;
      padding-right: 10px; }
    .footer .footer__top .footer__top__container__segment__3 a {
      display: inline-block;
      background: #494848;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .footer .footer__top .footer__top__container__segment__3 a i {
        font-size: 20px;
        color: #fff;
        padding: 10px 12px; }
    .footer .footer__top .footer__top__container__segment__4 h2 {
      color: #fff;
      text-transform: uppercase; }
    .footer .footer__top .footer__top__container__segment__4 h2:before {
      content: '|';
      color: #c65039;
      padding-right: 10px; }
    .footer .footer__top .footer__top__container__segment__4 form {
      display: flex; }
      .footer .footer__top .footer__top__container__segment__4 form input[type=submit] {
        background: #4ca5bd;
        border: none;
        padding: 3px 15px;
        margin-left: -5px;
        color: #fff;
        text-transform: uppercase; }
  .footer .footer__bottom__text {
    text-align: center;
    background: #000;
    line-height: 75px; }

@media screen and (max-width: 1000px) {
  #home__photos img {
    width: 426px;
    height: 426px;
    margin-bottom: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 30px; } }

@media only screen and (max-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 30px; }
  .footer__top {
    padding: 50px 0; } }

/*products w/ bootstrap*/
#products__header__box1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px; }
  #products__header__box1 div i {
    font-size: 50px !important;
    margin: 60px 26px 0px 0px;
    color: #4ea4bc; }
  #products__header__box1 div i:hover {
    color: #9969aa; }

.header__logo {
  width: 297px;
  height: 128px; }

#products__header__subtitle {
  text-align: center;
  padding-top: 10px; }
  #products__header__subtitle .header__subtitle--size {
    font-size: 2.4rem !important;
    font-weight: bolder; }

#products__header__searchbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: Tahoma; }
  #products__header__searchbar label {
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 5px; }
  #products__header__searchbar select {
    padding-bottom: 2px;
    padding-left: 2px;
    width: 100px; }
  #products__header__searchbar input {
    background-color: #762895 !important;
    width: 72px;
    text-align: center;
    color: white; }
  #products__header__searchbar input:hover {
    opacity: 0.8 !important;
    transition: 0.3s; }

.product__section {
  display: flex;
  padding-top: 20px; }

/*Codigo necesario para el siderbar*/
.wrapper {
  display: flex;
  align-items: stretch; }

#sidebar {
  background: #4ea4bc;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  margin-top: 0px; }
  #sidebar .sidebar-header {
    padding: 20px; }
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b; }
  #sidebar ul p {
    color: #fff;
    padding: 10px; }
  #sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block; }
  #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff; }
  #sidebar ul li.active > a,
  #sidebar a[aria-expanded="true"] {
    color: #fff;
    background-color: #6fa7b7; }

#sidebar.active {
  margin-left: -250px; }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  .product__section__productBox {
    display: block !important; } }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

/*Fin sidebar*/
.product__section--padding-top #content {
  padding-left: 0px;
  padding-bottom: 20px; }

.product__section--padding-top .product__section__productBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px; }
  .product__section--padding-top .product__section__productBox .product__section__productBox__image {
    width: 260px;
    height: 270px; }
  .product__section--padding-top .product__section__productBox p {
    margin: 0px; }

/*For the login section*/
#login__header__logo__container {
  padding-left: 15px; }

form label {
  font-family: 'arial';
  color: white;
  font-weight: bolder; }

#login__section {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  /*predeterminate value*/
  margin-top: 50px;
  width: 100%;
  justify-content: center; }

#registerBox1 {
  border: 1px solid black;
  background-color: #4ea4bb;
  width: 360px;
  border-radius: 10px; }
  #registerBox1 form {
    margin-top: 19px;
    margin-left: 25px;
    margin-bottom: 10px; }

.h3Login {
  padding-left: 25px;
  padding-top: 9px;
  color: white;
  font-family: Tahoma;
  font-size: 1.4rem;
  font-weight: bolder; }

#captcha {
  margin-top: 15px; }

#registerBox2 {
  border: 1px solid black;
  background-color: #4ea4bb;
  width: 360px;
  margin-left: 200px;
  border-radius: 10px; }
  #registerBox2 form {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px; }
  #registerBox2 P {
    color: white; }
    #registerBox2 P a {
      color: #002bff; }
  #registerBox2 #textRegister {
    font-family: 'arial'; }

.formLogin input {
  width: 250px;
  height: 25px; }

.formLogin input:focus {
  width: 270px;
  height: 26px;
  transition: 1.5s; }

.formLogin .botonLogin {
  font-weight: 600;
  color: #ffffff;
  background-color: #407888;
  border: 1px solid black;
  width: 85px;
  height: 35px;
  border-radius: 0.5rem; }

.formLogin .botonLogin:hover {
  font-weight: 600;
  color: #ffffff;
  background-color: #99ceda;
  border: 2px solid #0016b0;
  width: 85px;
  height: 35px;
  border-radius: 0.5rem; }

@media (max-width: 768px) {
  #login__section {
    display: flex;
    flex-direction: column;
    padding-left: 50px; }
  #registerBox2 {
    margin-left: 0px;
    margin-top: 60px;
    padding-top: 7px; } }

/*For the help page*/
#bodyHelp {
  display: flex;
  flex-direction: column;
  background-color: #FFE599; }
  #bodyHelp #login__header__logo__container__subtitleHelp {
    padding-left: 15px;
    font-weight: bolder;
    font-size: 1.8em; }
  #bodyHelp section #login__help__section__parrafs {
    padding-left: 15px;
    font-family: 'Tahoma';
    margin-top: 31px; }
    #bodyHelp section #login__help__section__parrafs p {
      margin-top: 31px; }
    #bodyHelp section #login__help__section__parrafs h3 {
      text-decoration: underline; }
    #bodyHelp section #login__help__section__parrafs #login__help__section__parrafs__img {
      font-size: 30px;
      margin-right: 9px;
      margin-left: 9px; }
  #bodyHelp footer#footerHelp {
    display: flex;
    justify-content: flex-end;
    padding-top: 400px; }
    #bodyHelp footer#footerHelp #helpFootImg {
      height: 20px; }
      #bodyHelp footer#footerHelp #helpFootImg i {
        font-size: 34px;
        padding-right: 15px; }
    #bodyHelp footer#footerHelp #sendMessage {
      background-color: #4ea4bb;
      font-family: 'Tahoma';
      text-align: center;
      color: white;
      height: 38px; }
      #bodyHelp footer#footerHelp #sendMessage p {
        margin: 0 auto;
        height: 25px;
        width: 450px;
        padding-top: 7px;
        font-size: 16px; }

/*For the sponsors page*/
body#sponsorsBody {
  display: flex;
  flex-direction: column; }

#sponsorsBody h1 {
  margin: 0px; }

#sponsorsBox {
  display: flex;
  flex-direction: inherit;
  margin-top: 30px;
  background-color: #9ba3a5;
  border: 2px solid #9FC5F8;
  padding: 20px; }

#sponsorsBox h2 {
  color: white;
  font-size: 1.6em;
  margin: 0px;
  font-weight: bolder; }

#boxEnlaces {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 20px; }
  #boxEnlaces .boxCont {
    padding-top: 15px; }
  #boxEnlaces a {
    margin-top: 20px; }
  #boxEnlaces img {
    margin-top: 20px;
    width: 772px;
    height: 148px; }

.boxCont:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }
